<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>WishPyStock</title>
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.png')}}" type="image/x-icon">

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:900i&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Alegreya:900i&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Yantramanav:300&display=swap" rel="stylesheet">


    <!-- CUSTOM STYLES -->
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
</head>

<body>

    <header class="container-lg header-nav">
        <nav class="navbar">
            <a href="/" class="navbar-brand">
                <img src="{{url_for('static', filename='favicon.png')}}" alt="" width="32px">
                WishPyStock
            </a>

            <form action="/busqueda/" method="GET" class="form-inline form-search">
                <input type="search" name="buscar" id="buscar" placeholder="Buscar" class="input-search">
            </form>
        </nav>
    </header>

    <div class="container-lg corp">
        <div class="row row-corp">
            <div class="col-3 main-corp">
                <dl class="custom-form">
                    <dt class="label-form">Condición</dt>
                    <dd class="dd-form">
                        <a href="/condition/?condicion=nuevo" class="btn-form">Nuevo</a>
                    </dd>
                    <dd class="dd-form">
                        <a href="/condition/?condicion=usado" class="btn-form">Usado</a>
                    </dd>
                    <dd class="dd-form">
                        <a href="/condition/?condicion=reacondicionado" class="btn-form">Reacondicionado</a>
                    </dd>

                </dl>
                <dl class="custom-form">
                    <dt class="label-form">Ordenar</dt>
                    <dd class="dd-form">
                        <a href="/ordenar/?orden=mayor_precio" class="btn-form">Mayor precio</a>
                    </dd>
                    <dd class="dd-form">
                        <a href="/ordenar/?orden=menor_precio" class="btn-form">Menor precio</a>
                    </dd>
                </dl>

                <dl class="custom-form">
                    <dt class="label-form">Categorias</dt>
                    <dd class="dd-form">
                        <a href="/categorias/?categoria=categoriaN" class="btn-form">CategoriaN</a>
                    </dd>
                    <dd class="dd-form">
                        <a href="/categorias/?categoria=categoriaN" class="btn-form">CategoriaN</a>
                    </dd>
                </dl>

                <dl class="custom-form">
                    <dt class="label-form">Descuentos</dt>
                    <dd class="dd-form">
                        <a href="/descuentos/?descuento=descuentoNN" class="btn-form">NN%</a>
                    </dd>
                    <dd class="dd-form">
                        <a href="/descuentos/?descuento=descuentoNN" class="btn-form">NN%</a>
                    </dd>
                </dl>

                <dl class="custom-form">
                    <dt class="label-form">Marca</dt>
                    <dd class="dd-form">
                        <a href="/marcas/?marca=marcaX" class="btn-form">MarcaX</a>
                    </dd>
                    <dd class="dd-form">
                        <a href="/marcas/?marca=marcaX" class="btn-form">MarcaX</a>
                    </dd>
                </dl>

                <dl class="custom-form">
                    <dt class="label-form">Calificacion</dt>
                    <dd class="dd-form dd-calif">
                        <a href="/calificaciones/?calificacion=1" class="btn-form">1 estrella</a>
                    </dd>
                    <dd class="dd-form dd-calif">
                        <a href="/calificaciones/?calificacion=2" class="btn-form">2 estrellas</a>
                    </dd>
                    <dd class="dd-form dd-calif">
                        <a href="/calificaciones/?calificacion=3" class="btn-form">3 estrellas</a>
                    </dd>
                    <dd class="dd-form dd-calif">
                        <a href="/calificaciones/?calificacion=4" class="btn-form">4 estrellas</a>
                    </dd>
                    <dd class="dd-form dd-calif">
                        <a href="/calificaciones/?calificacion=5" class="btn-form">5 estrellas</a>
                    </dd>
                </dl>

                <form action="/rango_precio/" method="get" class="custom-form">
                    <label for="" class="label-form">Rango de precios</label>
                    <br>
                    <input type="number" min="0" step="1" name="min" id="min" class="input-range-price"
                        placeholder="minimo">
                    <input type="number" min="0" step="1" name="max" id="max" class="input-range-price"
                        placeholder="maximo">
                    <button class="btn-send-range-price">></button>
                </form>
            </div>

            <div class="col-9 catalog-corp">
                <ul class="catalog-list">
                    {% for p in productos %}
                    <li class="li-product">
                        <div class="card card-product">
                            <img src="{{p.imagen}}" alt="img producto" class="card-img-top img-product">
                            <div class="card-body data-product">
                                <h5 class="card-title">{{p.precio}}$</h5>
                                <p class="card-text">{{p.nombre}}</p>
                                <p class="card-text">{{p.descripcion}}</p>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <footer class="container-lg foot">

    </footer>

    <!-- JS BOOTSTRAP -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

</body>

</html>