<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>WishPyStock</title>
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.png')}}" type="image/x-icon">

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:900i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alegreya:900i&display=swap" rel="stylesheet">

    <!-- CUSTOM STYLES -->
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
</head>

<body>
    <nav class="navbar navbar-expand navbar-light bg-light">
        <ul class="nav navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/"><img id="logo" src="{{url_for('static', filename='favicon.png')}}"
                        height="32rem"><span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a id="title-navbar" class="nav-link" href="/">WishPyStock</a>
            </li>

        </ul>
    </nav>

    <div class="container-lg">
        <div class="row">
            <div class="col-3" style="text-align: left;">
                <input class="form-control form-control-custom" type="search" placeholder="Buscar" aria-label="Search">

                <h6 class="h6">Condicion del producto:</h6>
                <ul>
                    <li><a href="/">Nuevo</a></li>
                    <li><a href="/">Usado</a></li>

                </ul>
                <h6 class="h6">Ordenar por precio:</h6>
                <ul>
                    <li><a href="/">Mayor precio</a></li>
                    <li><a href="/">Menor precio</a></li>

                </ul>
                <h6 class="h6">Categoria:</h6>
                <ul>
                    <li><a href="/">Moda</a></li>
                    <li><a href="/">Tecnologia</a></li>
                </ul>

                <h6 class="h6">Descuentos:</h6>
                <ul>
                    <li><a href="/">15%</a></li>
                    <li><a href="/">20%</a></li>
                </ul>
                <h6 class="h6">Marcas:</h6>
                <ul>
                    <li><a href="/">Marca1</a></li>
                    <li><a href="/">Marca2</a></li>
                </ul>
                <h6 class="h6">Filtrar por calificacion:</h6>
                <div class="btn-group">
                    <button type="button" class="btn btn-light">1</button>
                    <button type="button" class="btn btn-light">2</button>
                    <button type="button" class="btn btn-light">3</button>
                    <button type="button" class="btn btn-light">4</button>
                    <button type="button" class="btn btn-light">5</button>
                </div>
                <h6 class="h6">Rango de precios:</h6>
                <div class="form-row">
                    <div class="col-6">
                        <input type="text" class="form-control" placeholder="Minimo">
                    </div>
                    <div class="col-6">
                        <input type="text" class="form-control" placeholder="Maximo">
                    </div>
                </div>
            </div>
            <div class="col-9">
                <div class="row">
                    <div class="card col-4">
                        <img src="{{url_for('static', filename='img_prod/ejemplo.jpeg')}}" class="card-img-top"
                            alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                    <div class="card col-4">
                        <img src="{{url_for('static', filename='img_prod/ejemplo.jpeg')}}" class="card-img-top"
                            alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                    <div class="card col-4">
                        <img src="{{url_for('static', filename='img_prod/ejemplo.jpeg')}}" class="card-img-top"
                            alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <!-- JS BOOTSTRAP -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

</body>

</html>